*.pyc
*.egg

.eggs
.coverage
session.shelve*

.DS_Store

/.vscode/settings.json

/.env
/.venv

/out
/dist
/build
/src/colony.egg-info
/scripts/build/builds

/src/containers
/src/deploy
/src/libraries
/src/log
/src/meta
/src/plugins
/src/tmp
/src/var
